.login {
    background: rgb(145, 134, 97);
    width: 100vw;
    height: 100vh;
    text-align: center;

    h1 {
        color: white;
        margin: 0;
    }
}

.button {
    width: 400px;
    height: 45px;
    border: 2px #565656 solid;
    border-radius: 10px;
    padding: 0 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    background: darkcyan;
    cursor: pointer;
  }